@import "../../scss/mixins.scss";

.navBar {
  background-image: linear-gradient(to right, $skyBlue, $limeGreen);
  height: 50px;
  padding: 0 40px;
  top: 0;
  border-top: 1px solid;
  border-color: transparentize($color: white, $amount: 0.6);
}
.navList {
  @include flex-row;
  max-width: 1170px;
  height: 45px;
  padding: 3px 0 0;
  align-items: flex-end;
}

@media screen and (min-width: 490px) {
  .navBar {
    padding: 0 60px;
  }
}

@media screen and (min-width: 600px) {
  .navList {
    max-width: 450px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .navList {
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  .navBar {
    height: 55px;
  }
  .navList {
    max-width: 550px;
    height: 50px;
  }
}
@media screen and (min-width: 1080px) {
  .navList {
    max-width: 750px;
  }
}
