@import "../../scss/mixins.scss";

.navBar {
  background: $purpleBack;
  height: 40px;
}
.navList {
  @include flex-row;
  max-width: 1170px;
  height: 40px;
  margin: 0 35px;
  padding: 3px 0 0;
  align-items: center;
}
