@import "../../scss/mixins.scss";

.navItem {
  color: white;
  @include flex-column;
  justify-content: center;
  height: 30px;
  padding: 0 5px;
  border-bottom: solid 4px transparent;
  &.home {
    width: 48px;
  }
  &.portfolio {
    width: 78px;
  }
  &.skills {
    width: 49px;
  }
  &.contact {
    width: 69px;
    display: none;
  }
}

.navItem:hover {
  color: $purpleText;
  font-weight: bold;
}

@media screen and (min-width: 490px) {
  .navItem.contact {
    display: flex;
  }
}
