@import "../../scss/mixins.scss";

.navItem {
  color: white;
  @include flex-column;
  justify-content: center;
  height: 33px;
  padding: 0 5px;
  background: none;
  border: 0px;
  border-bottom: solid 4px transparent;
  font-family: "Scada", sans-serif;
  letter-spacing: 2px;
  &.projects {
    width: 74px;
  }
  &.code {
    width: 125px;
  }
  &.contact {
    width: 68px;
  }
}

.navItem:hover {
  color: $purpleText;
  font-weight: bold;
  border-bottom: solid 4px #6e06d6;
}
