.container {
  background: rgb(219, 219, 219);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 0 15px;
}
.colorCheck {
  height: 18px;
  margin: 0 8px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  &.Blue {
    color: blue;
  }
  &.Red {
    color: Red;
  }
  &.White {
    color: White;
    text-shadow: 1px 1px 2px black;
  }
  &.Black {
    color: Black;
  }
  &.Green {
    color: Green;
  }
  &.noOtherColor {
    color: black;
    font-style: italic;
    font-size: 10px;
  }
}

.colorlessRadio {
  height: 18px;
  margin: 0 8px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
}
