.container {
  min-height: 60vh;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
}

.imageDisplayed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 0 25px;
}

img {
  margin: 0 0 25px;
  max-width: 200px;
  border-radius: 9px;
}

span {
  font-weight: bold;
  letter-spacing: 1px;
}

.dataContainer {
  max-width: 900px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 100px auto;
  grid-gap: 10px;

  p {
    min-width: 0;
  }
}

.printContainer {
  display: flex;
  flex-wrap: wrap;
}

.printings {
  margin: 0 5px 0 0;
  font-weight: normal;
}

.legalities {
  margin: 0 5px 0 0;
  font-weight: normal;
}

.flavour {
  font-style: italic;
}
