@import "../../../scss/mixins.scss";

.contactLink {
  margin: 0 0 30px;
  font-size: 15px;
  i {
    color: $purpleText;
    font-size: 25px;
  }
  i:hover {
    color: #444;
  }
  a {
    color: #555;
  }
  a:hover {
    color: #444;
  }
}

@media screen and (min-width: 490px) {
  .contactLink {
    margin: 0 0 35px;
    font-size: 18px;
  }
}

@media screen and (min-width: 900px) {
  .contactLink {
    margin: 0 0 30px;
    font-size: 15px;
  }
}
