@import "../../../scss/mixins.scss";

.container {
  h1 {
    padding: 0 40px;
    margin: 0 0 45px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    @include flex-column;
    flex: 1 0 auto;
    justify-content: flex-start;
    padding: 45px 80px 0;
    h1 {
      padding: 0;
    }
  }
  .paragraphHeadContact {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 75px 0 0;
    max-width: 1170px;
    margin: auto;
    flex: 1 0 auto;
    h1 {
      margin: 0 0 60px;
    }
  }
}

@media screen and (min-width: 1080px) {
  .container {
    max-width: 1170px;
    h1 {
      margin: 0 0 60px;
    }
  }
}
