@import "../../../scss/mixins.scss";

.container {
  @include flex-row;
  flex: 1 0 auto;
  justify-content: flex-start;
  align-items: flex-end;
  background: white;
  padding: 40px 0 0;
  margin: 0 0 30px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 70px 0 0;
  }
}
