@import "../../../scss/mixins.scss";

.headShot {
  height: 80px;
  width: 80px;
  margin: 0 40px 0 0;
  border: solid 1px $greyPurple;
  //  / border-radius: 100px;
}

@media screen and (min-width: 768px) {
  .headShot {
    width: 120px;
    height: 120px;
  }
}
