@import "../../../scss/mixins.scss";

.headShot {
  align-self: center;
  margin: 0 0 40px;
  img {
    height: 120px;
    width: 120px;
    margin: 0;
    border: solid 1px $greyPurple;
    border-radius: 100px;
  }
}
