@import "../../../scss/mixins.scss";

@media screen and (min-width: 900px) {
  .photoHomeNav {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 100px;
      height: 50px;
      width: 50px;
      margin: 0 10px 0 0;
    }
    p {
      height: auto;
      width: 210px;
      font-size: 12px;
    }
  }
  .learnMore {
    font-weight: bold;
    color: $purpleText;
  }
}

@media screen and (min-width: 1080px) {
  .photoHomeNav {
    margin: 0 auto 0;
  }
}

@media screen and (min-width: 1300px) {
  .photoHomeNav {
    p {
      font-size: 15px;
      width: 300px;
    }
    img {
      width: 80px;
      height: 80px;
    }
  }
}
