@import "../../../scss/mixins.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10px 0 0;
  height: 80px;
}

.largeText {
  font-size: 30px;
  color: $purpleText;
}
.smallText {
  font-size: 18px;
  color: $purpleText;
}
.mediumText {
  font-size: 20px;
  color: $purpleText;
}

@media screen and (min-width: 768px) {
  .container {
    height: 120px;
  }
  .smallText {
    font-size: 20px;
  }
  .mediumText {
    font-size: 28px;
  }
  .largeText {
    font-size: 35px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    margin: 0 0 50px;
    padding: 0 80px;
    justify-content: flex-end;
    align-self: inherit;
    h1 {
      width: 450px;
    }
  }
  .largeText {
    font-size: 50px;
  }
  .smallText {
    font-size: 30px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    height: auto;
    width: auto;
    padding: 0;
    h1 {
      width: 600px;
      height: 80px;
    }
  }
  .largeText {
    font-size: 70px;
  }
  .smallText {
    font-size: 40px;
  }
}
