@import "../../scss//mixins.scss";

.footer {
  background: $darkerSkyBlue;

  width: 100%;
}
.footerList {
  background: $darkerSkyBlue;
  @include flex-row;
  align-items: center;
  padding: 0 40px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  height: 50px;
  border-top: 1px solid transparentize($color: white, $amount: 0.6);
}
.footerItem {
  margin: 0 10px;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: transparentize($color: white, $amount: 0.6);
}
.footerItem:hover {
  color: $greyPurple;
  font-weight: bold;
}
