@import "../../scss//mixins.scss";

.footerItem {
  margin: 0 10px 3px;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #9e9a9a;
}
.footerItem:hover {
  color: $greyPurple;
  font-weight: bold;
}
