@import "../../../scss/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
}

.linksContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}

.header {
  margin: 0 0 30px;
}

.codeButton {
  border: none;
  text-align: left;
  background: white;
  padding: 0;
  margin: 0 0 15px;
  font-family: "Scada", sans-serif;
  letter-spacing: 2px;
  color: #555;
  font-weight: bold;
  color: $purpleText;
}

.codeButton:hover {
  font-weight: bold;
  color: black;
}

@media screen and (min-width: 768px) {
  .linksContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
  }
}
