@import "../../../scss/mixins.scss";

.container {
  margin: 0 0 100px;
  padding: 0 40px;
  p {
    margin: 0 0 30px;
  }
}
.header {
  margin: 0 0 15px;
  font-size: 20px;
}

.workPrompt {
  font-weight: bold;
}

.readMore {
  border: none;
  background: white;
  padding: 0;
  letter-spacing: 2px;
  color: #555;
  font-weight: bold;
  color: darken($darkerSkyBlue, 20);
}

.readMore:hover {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 490px) {
  .container {
    padding: 0 60px;
  }
  .summary {
    display: flex;
  }
}
@media screen and (min-width: 600px) {
  .container {
    padding: 0 80px;
    p {
      font-size: 18px;
    }
  }
  .readMore {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 100px auto 130px;
    max-width: 550px;
    padding: 0;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 0;
    margin: 0 auto 130px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    max-width: 750px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 900px;
  }
}
