@import "../../../scss/mixins.scss";

.container {
  margin: 0 0 20px;
  p {
    margin: 0 0 10px 0;
  }
}
.header {
  margin: 0 0 15px;
  font-size: 20px;
}

.workPrompt {
  font-weight: bold;
}

.readMore {
  border: none;
  background: white;
  padding: 0;
  margin: 0 0 20px;
  font-family: "Scada", sans-serif;
  letter-spacing: 2px;
  color: #555;
  font-weight: bold;
  color: $purpleText;
}

.readMore:hover {
  font-weight: bold;
  color: black;
}

@media screen and (min-width: 490px) {
  .container {
    margin: 0 0 30px;
  }
  .summary {
    display: flex;
  }
  .readMore {
    margin: 0 0 40px;
  }
  .header {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0;
  }
  .header {
    margin: 0 0 20px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 0;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    max-width: 1170px;
    justify-content: flex-start;
  }
}
