@import "../../../scss/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 0 20px;
}

.projectLink {
  margin: 0 0 40px;
  img {
    width: 100%;
    height: auto;
    margin: 0 0 8px;
  }
  p {
    font-size: 12px;
  }
}
.linkHeader {
  margin: 0 0 5px;
  font-size: 18px;
}

.codeButton {
  border: none;
  background: white;
  padding: 0;
  margin: 0 0 20px;
  font-family: "Scada", sans-serif;
  letter-spacing: 2px;
  color: #555;
  font-weight: bold;
  color: $purpleText;
}

.codeButton:hover {
  font-weight: bold;
  color: black;
}

.repositoryLink {
  a {
    color: black;
    font-size: 120px;
  }
  p {
    font-size: 12px;
  }
}

@media screen and (min-width: 490px) {
  .projectLink {
    p {
      font-size: 14px;
    }
  }
  .linkHeader {
    margin: 0 0 5px;
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 20px;
  }
  .projectLink {
    margin: 0;
    width: 270px;
    p {
      font-size: 14px;
    }
    img {
      width: 270px;
    }
  }
  .linkHeader {
    margin: 0 0 5px;
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    margin: 30px 0 20px;
    padding: 0;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    margin: 60px 0 30px;
  }
}
