@import "../../../scss/mixins.scss";

.projectsID {
  padding: 100px 40px;
  min-height: 100vh;
  background-image: linear-gradient(to left, $skyBlue, #00d8dc);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 0 30px;
}

.projectLink {
  margin: 0 0 60px;
  box-shadow: 1px 1px 10px transparentize($color: #222, $amount: 0.5);
  background: white;
  img {
    width: 100%;
    height: auto;
    margin: 0 0 8px;
  }
}

.textBox {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  p {
    font-size: 12px;
    margin: 0 0 10px;
  }
}

.header {
  margin: 0 0 60px;
  letter-spacing: 4px;
  font-size: 30px;
  align-self: flex-start;
  color: #f5f5f5;
  //text-shadow: 1px 1px 5px #111;
}
.linkHeader {
  margin: 0 0 10px;
  font-size: 18px;
}

.codeButton {
  border: none;
  background: white;
  padding: 0;
  margin: 0 0 10px;
  letter-spacing: 2px;
  //color: #555;
  font-weight: bold;
  color: darken($darkerSkyBlue, 20);
}

.codeButton:hover {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 490px) {
  .projectsID {
    padding: 100px 60px;
  }
  .projectLink {
    p {
      font-size: 14px;
    }
  }
  .linkHeader {
    margin: 0 0 5px;
    font-size: 22px;
  }
}

@media screen and (min-width: 600px) {
  .projectsID {
    padding: 100px 80px;
  }
  .header {
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 550px;
    margin: auto;
  }
  .linkHeader {
    margin: 0 0 10px;
    font-size: 20px;
  }
  .projectLink {
    margin: 0 0 100px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    max-width: 750px;
    p {
      font-size: 16px;
    }
  }
  .projectLink {
    width: 330px;
    display: flex;
    flex-direction: column;
    img {
      width: 330px;
    }
    p {
      font-size: 13px;
    }
  }
  .innerContainer {
    width: 750px;
    display: flex;
    justify-content: space-between;
  }
  .textBox {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 900px;
  }
  .projectLink {
    width: 400px;
    img {
      width: 400px;
    }
    p {
      font-size: 13px;
    }
  }
  .innerContainer {
    width: 900px;
    max-width: 900px;
  }
}
