@import "../../scss/mixins.scss";

.navBarIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 8px;
  color: black;
  margin: 0 0 0 10px;
}

.codeLangSkills {
  @include flex-row;
  color: black;
  padding: 0 0 0 5px;
  font-weight: 100;
  font-size: 18px;
}

.codeLangSkills:hover {
  background: transparentize(blue, 0.9);
  cursor: pointer;
  color: $purpleText;
  font-size: 19px;
  transition: font-size 0.3s;
  transition: color 0.3s;
}

@media screen and (min-width: 490px) {
  .navBarIcons {
    margin: 0 0 0 10px;
  }
  .codeLangSkills {
    font-size: 20px;
    padding: 0 0 0 5px;
  }
  .codeLangSkills:hover {
    font-size: 21px;
  }
}

@media screen and (min-width: 900px) {
  .navBarIcons {
    margin: 0 0 0 200px;
    font-size: 12px;
  }
  .codeLangSkills {
    padding: 0 0 0 10px;
    font-size: 50px;
  }
  .codeLangSkills:hover {
    font-size: 50.5px;
  }
}

@media screen and (min-width: 1080px) {
  .navBarIcons {
    margin: 0 0 0 310px;
  }
  .navBar {
    display: flex;
  }
}

@media screen and (min-width: 1300px) {
  .navBarIcons {
    margin: 0 50px 0 450px;
  }
}
