@import "../../scss/mixins.scss";

.title {
  @include flex-row;
  background: $marineBack;
  background-image: url("../../img/grey-jean.png");
  height: 133px;
  padding: 0 0 0 34px;
}
.logoTitle {
  @include flex-column;
  max-width: 1170px;
}

.logo {
  width: 90px;
  height: auto;
  margin: 0 0 10px 0;
}

.heading {
  @include flex-row;
  align-items: baseline;
  margin: 0;
  padding: 0;
  h2 {
    color: $purpleText;
    margin: 0 0 0 52px;
    font-size: 14px;
  }
}

@media screen and (min-width: 490px) {
  .title {
    @include flex-row;
    padding: 0 40px 0 34px;
    justify-content: flex-start;
    align-items: center;
  }
  .logoTitle {
    flex-direction: row;
    align-items: center;
  }
  .logo {
    flex: 0 1 auto;
    width: 120px;
    height: auto;
  }
  .heading {
    h2 {
      padding: 37px 0 0;
      margin: 0 0 0 10px;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 768px) {
  .title {
    padding: 0 80px 0 74px;
  }
}

@media screen and (min-width: 900px) {
  .title {
    height: 180px;
  }
  .logo {
    width: 150px;
  }
  .heading {
    h2 {
      font-size: 25px;
      margin: 0 0 0 25px;
      padding: 47px 0 0;
    }
  }
}

@media screen and (min-width: 1080px) {
  .title {
    padding: 0 120px 0 114px;
  }
  .logoTitle {
    margin: auto;
    flex: 1 0 auto;
    justify-content: space-between;
  }
  .heading {
    flex: 1 0 auto;
  }
}
