@import "../../scss/mixins.scss";

.container {
  @include flex-row;
  background: $deepBlue;
  background-image: linear-gradient(to right, $skyBlue, $limeGreen);
  height: 100vh;
  padding: 0 40px;
}
.logoTitle {
  @include flex-column;
  justify-content: flex-start;
  margin: auto;
  max-width: 1170px;
  flex: 1 0 auto;
}

.logoContainer {
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparentize($color: white, $amount: 0.9);
  height: 170px;
  width: 170px;
  align-content: center;
  margin: 0 0 40px;
  border-radius: 50%;
  padding: 0 10px 10px 0;
}
.logo {
  width: 150px;
  height: auto;
  margin: auto;
}

.heading {
  margin: 0 0 15px;
  padding: 0;
  color: white;
  font-size: 25px;
  align-self: flex-end;
}

.developerText {
  color: white;
  align-self: flex-end;
  width: 200px;
  text-align: right;
  font-size: 13px;
}

@media screen and (min-width: 490px) {
  .container {
    padding: 0 60px;
  }
  .logo {
    width: 170px;
  }
  .logoContainer {
    margin: 0 0 80px 0;
    width: 190px;
    height: 190px;
  }
}

@media screen and (min-width: 600px) {
  .logoTitle {
    max-width: 450px;
    margin: auto;
  }
  .heading {
    font-size: 30px;
  }
  .logo {
    width: 200px;
  }
  .logoContainer {
    width: 220px;
    height: 220px;
    padding: 0 15px 15px 0;
  }
  .developerText {
    width: auto;
  }
}

@media screen and (min-width: 900px) {
  .logoTitle {
    max-width: 550px;
  }
  .logo {
    width: 250px;
  }
  .logoContainer {
    width: 270px;
    height: 270px;
  }
  .heading {
    font-size: 35px;
  }
  .developerText {
    font-size: 16px;
  }
}

@media screen and (min-width: 1080px) {
  .logoTitle {
    max-width: 750px;
  }
  .logo {
    width: 300px;
  }
  .logoContainer {
    width: 320px;
    height: 320px;
    padding: 0 20px 20px 0;
  }
  .heading {
    font-size: 45px;
  }
}
@media screen and (min-width: 1600px) {
  .logoTitle {
    max-width: 900px;
  }
  .logo {
    width: 350px;
  }
  .logoContainer {
    width: 370px;
    height: 370px;
    padding: 0 20px 20px 0;
  }
  .heading {
    font-size: 60px;
  }
}
