@import "../../scss/mixins.scss";

.title {
  @include flex-row;
  background: $marineBack;
  background-image: url("../../img/grey-jean.png");
  height: 133px;
  padding: 0 0 0 34px;
}
.logoTitle {
  @include flex-column;
  max-width: 1170px;
}

.logo {
  width: 90px;
  height: auto;
  margin: 0 0 10px 0;
}

.heading {
  @include flex-row;
  align-items: baseline;
  margin: 0;
  padding: 0;
  h2 {
    color: $purpleText;
    margin: 0 0 0 52px;
    font-size: 14px;
  }
}
