@import "../../../scss/mixins.scss";

.headShot {
  height: 80px;
  width: 80px;
  margin: 0 10px 0 0;
  border: solid 1px $greyPurple;
  border-radius: 100px;
}

@media screen and (min-width: 490px) {
  .headShot {
    width: 120px;
    height: 120px;
    margin: 40px 0 0 20px;
  }
}
@media screen and (min-width: 590px) {
  .headShot {
    margin: 15px 0 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .headShot {
    margin: 0 0 0 30px;
  }
}

@media screen and (min-width: 900px) {
  .headShot {
    margin: -40px 0 0 30px;
    width: 145px;
    height: 145px;
  }
}
