@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
}

$blueBack: #f0eefa;
$purpleBack: #ab63fe;
$purpleText: #6e06d6;
$greyPurple: rgb(139, 110, 137);
$marineBack: #00e6ff;
$hotPink: rgb(179, 1, 40);
$deepBlue: rgb(14, 14, 51);
$midBlue: rgb(16, 16, 65);

//$babyPink: rgb(255, 125, 153);
$babyPink: rgb(255, 174, 191);

$skyBlue: #00a6f2;
$paleSkyBlue: #ccf6ff;
$limeGreen: #a2f58a;

$sunYellow: #f9f871;

$violet: #a6439e;
$brightLime: #78c664;

$darkerSkyBlue: #4d91ea;
